{% extends "base_template.html" %}

{% block title %}Request Access | {{ item.title }}{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1>Request Access</h1>
    <h2>{{ item.title }}</h2>
    <p>Status: {{ item.statusName }}</p>

    <form method="POST" action="{{ url_for('items_bp.request_access', item_id=item.itemID) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.requestReason.label }}
            {{ form.requestReason() }}
        </div>
        <div>
            {{ form.supportingDocuments.label }}
            {{ form.supportingDocuments() }}
        </div>
        {{ form.submit() }}
    </form>
{% endblock %}
